<div id="delete_chip_modal" class="modal">
  <div class="modal-content">
    <h4>Remover <%= title %></h4>
    <p>Tem certeza que deseja excluir:
      <strong><span id="delete_chip_confirmation"></span></strong>
    </p>
  </div>
  <div class="modal-footer">
    <%= link_to "Cancelar", url, method: :get,
      class: "modal-action modal-close waves-effect waves-green btn-flat" %>

    <%= link_to "Remover", "", id: :destroy_button, method: :delete,
      class: "modal-action modal-close waves-effect waves-red btn-flat" %>
  </div>
</div>
