<h3>Tipos de cervejas</h3>

<%= render partial:"shared/chip_page", locals: {
  chip: @beer_type,
  flash: flash,
  types: @types,
  controller: "beer_types",
  title: "tipo de cerveja",
  url: beer_types_url } %>
