<h3>Tipos de copos</h3>

<%= render partial:"shared/chip_page", locals: {
  chip: @glass_type,
  flash: flash,
  types: @types,
  controller: "glass_types",
  title: "tipo de copo",
  url: glass_types_url } %>
