<h3>Tipos de copos</h3>

<h5>Adicionar</h5>

<div class="row">
  <%= form_for(@glass_type, :html => {:class => ["col", "s12"]}) do |f| %>
    <div class="row">
      <div class="input-field col s6">
        <%= f.text_field :name, class:"validate" %>
        <%= f.label :name, "Nome" %>
      </div>
      <div class="input-field col s6">
        <button class="btn waves-effect waves-light" type="submit" name="action">
          Adicionar<i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  <% end %>
</div>

<h5>Existentes</h5>

<% @types.each do |type| %>
<div class="chip">
  <%= type.name %>
  <i class="close material-icons">close</i>
</div>
<% end %>
