<h3>Características</h3>

<%= render partial:"shared/chip_page", locals: {
  chip: @beer_characteristic,
  flash: flash,
  types: @types,
  controller: "beer_characteristics",
  title: "característica",
  url: beer_characteristics_url } %>
