<h3>Nova Cerveja</h3>

<%= render partial:"form", locals: {
    beer: @beer,
    styles: @styles,
    packages: @packages,
    providers: @providers,
    beer_characteristics: @beer_characteristics } %>
